input[type=range]{
    cursor: e-resize;
    width: 150px;
}
input.w-30[type=range]{
    width: 45px;
}
input.w-50[type=range]{
    width: 75px;
}
input.w-700[type=range]{
    width: 100%;
    max-width: 700px;
}
#cookie-accept-wrapper{
    padding-bottom: 180px;
}

th.load{
    position: relative;
}
th.load::after{
    content: '';
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 20px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 3px solid #2270b0;
    border-top-color: #f0f0f1;
    border-right-color: transparent;
    animation: spin 800ms linear infinite;
}
@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
td p.description{
    font-style: italic;
    display: none;
}
.detailed td p.description{
    display: block;
}
p.warning.noscript{
    display: block;
    color: #e10000;
    background: #fff;
    padding: 1rem;
    font-style: italic;
    border: 1px solid #cdcdce;
}
.live-preview-set{
    display: none;
}
.detailed .live-preview-set{
    display: table;
}
td p.warning{
    font-style: italic;
    /*color: red;*/
}
td fieldset+fieldset{
    margin-top: 1.5rem;
}
td .distance-set{
    display: none;
    margin-right: 1rem;
}
td.consent-box-layout-settings.down-left .distance-set.for-downleft,
td.consent-box-layout-settings.down-right .distance-set.for-downright,
td.consent-box-layout-settings.fullwidth .distance-set.for-fullwidth{
    display: inline-block;
}
td .corner-radius-sets{
    display: none;
}
td.consent-box-layout-settings.down-left .corner-radius-sets,
td.consent-box-layout-settings.down-right .corner-radius-sets{
    display: block;
}
td .box-width-set{
    display: none;
}
td.consent-box-layout-settings.down-left .box-width-set,
td.consent-box-layout-settings.down-right .box-width-set{
    display: block;
}
td fieldset .inline-color{
    display: inline-block;
    min-width: 120px;
    margin-right: 1rem;
}
td fieldset.padding-sets .padding-set{
    display: inline-block;
    margin-right: 1rem;
}
td fieldset .corner-radius-set{
    margin-top: 5px;
}
td fieldset .box-width-set{
    margin-top: 5px;
}
input[type="color"]{
    min-width: 70px;
    min-height: 30px;
    cursor: pointer;
}
label#cookie_accept_live_preview_label{
    position: relative;
    padding-left: 15px;
}
label#cookie_accept_live_preview_label input#cookie_accept_live_preview{
    opacity: 0;
}
label#cookie_accept_live_preview_label input + span.toggle-round{
    display: block;
    position: absolute;
    width: 30px;
    height: 18px;
    background-color: #dcdcde;
    top: 0;
    left: 0;
    border-radius: 10px;
    border: 1px solid #b8b8b8;
    transition: background-color 0.5s, border-color 0.5s;
}
label#cookie_accept_live_preview_label input:focus + span.toggle-round{
    box-shadow: 0 0 1px 1px #3582c4;
}
label#cookie_accept_live_preview_label input:checked + span.toggle-round{
    background-color: #3582c4;
    border-color: #3582c4;
}
label#cookie_accept_live_preview_label input + span.toggle-round::before{
    display: block;
    content: '';
    width: 18px;
    height: 18px;
    background-color: #fff;
    border-radius: 9px;
    transform: translateX(0px);
    transition: transform 0.5s;
    box-shadow: 0 0 0 1px #b8b8b8;
}
label#cookie_accept_live_preview_label input:checked + span.toggle-round::before{
    transform: translateX(12px);
    box-shadow: 0 0 0 1px #3582c4;
}
.options-tab-head{
    position: relative;
    box-sizing: border-box;
    margin: 25px 0 15px 0;
    padding: 0 10px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    border: 1px solid #c3c4c7;
    background: #fff;
    color: #50575e;
    font-size: 13px;
    overflow: auto;
    display: none;
}
.detailed .options-tab-head{
    display: block;
}
.options-tab-head::after {
    content: "";
    clear: both;
    display: table;
}
.options-tab-head #tabs-head{
    display: inline-block;
}
.options-tab-head .tab-head{
    display: inline-block;
    margin: 0 5px;
    padding: 15px 5px;
    border-bottom: 4px solid #fff;
    color: #646970;
    cursor: pointer;
}
.options-tab-head .tab-head:hover,
.options-tab-head .tab-head:focus{
    outline: none;
    color: #135e96;
}
.options-tab-head .tab-head:focus{
    box-shadow: 0 0 1px 1px #135e96;
}
.options-tab-head .tab-head.current{
    border-bottom: 4px solid #646970;
    color: #1d2327;
}
.options-tab-head .save{
    display: inline-block;
    float: right;
    margin: 6px 5px;
}

.form-table th {
    padding: 10px 20px 0px 20px;
}
.form-table td {
    padding: 10px 20px 30px 20px;
}
.form-table td textarea {
    width: 100%;
    display: block;
    max-width: none;
    box-sizing: border-box;
}
@media screen and (min-width: 782px){
    .form-table th,
    .form-table td {
        padding: 16px 0px;
    }
    .form-table td textarea {
        width: 500px;
        margin-bottom: 6px;
    }
    .options-tab-head .save{
        margin: 13px 5px;
    }
    .tab-body p.submit{
        padding-left: 4px;
    }
}
.tab-body{
    display: block;
    transition: opacity 500ms, transform 500ms;
}
.detailed .tab-body{
    transform: translateY(-20px);
    max-height: 0px;
    overflow: hidden;
    opacity: 0.5;
}
.detailed .tab-body.current{
    transform: translateY(0px);
    max-height: 10000px;
    opacity: 1;
}
.cookie-accept-style{
    display: inline-block;
    min-width: 100px;
    margin-bottom: 6px;
}
.detailed .cookie-accept-style.selected, .detailed .cookie-accept-style:hover {
    background: #dcdcde;
}
.cookie-accept-style label{
    min-width: 100px;
    padding: 0.5rem 0.8rem;
}
.cookie-accept-style label>span{
    display: block;
    border: 1px solid #aaa;
    background-color: #eee;
    width: 100%;
    height: 50px;
    margin-top: 0.5rem;
    border-radius: 6px;
    position: relative;
}
.cookie-accept-style label>span::before{
    content: '';
    display: block;
    background-color: #2271b1;
    border-radius: 3px;
    position: absolute;
    bottom: 0;
}
.cookie-accept-style label>span.down-left::before{
    bottom: 5px;
    left: 5px;
    width: 40%;
    height: 20px;
}
.cookie-accept-style label>span.down-right::before{
    bottom: 5px;
    right: 5px;
    width: 40%;
    height: 20px;
}
.cookie-accept-style label>span.fullwidth::before{
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 10px;
    border-radius: 0 0 3px 3px;
}










.cookie-accept-align{
    display: inline-block;
    min-width: 100px;
    margin-bottom: 6px;
}
.detailed .cookie-accept-align.selected, .detailed .cookie-accept-align:hover {
    background: #dcdcde;
}
.cookie-accept-align label{
    min-width: 75px;
    padding: 0.5rem 0.8rem;
}
.cookie-accept-align label>span{
    display: block;
    border: 1px solid #aaa;
    background-color: #eee;
    color: #2271b1;
    font-size: 4px;
    font-weight: 900;
    line-height: 1.5;
    padding: 4px 6px;
    max-width: 75px;
    height: 46px;
    margin-top: 0.5rem;
    border-radius: 6px;
    box-sizing: border-box;
    position: relative;
    text-align: left;
    overflow: hidden;
}
.cookie-accept-align label>span::before{
    content: 'Wow! You can read this? This sentence should be 4 pixels in size. That was amazing! Anyway, this is just an example of text content. Not the real one.';
    display: block;
    border-radius: 3px;
    /*position: absolute;*/
    /*bottom: 0;*/
}
.cookie-accept-align label>span.center{
    text-align: center;
}
.cookie-accept-align label>span.right{
    text-align: right;
}
.cookie-accept-btn-style {
    display: inline-block;
    min-width: 100px;
    margin-bottom: 6px;
}
.detailed .cookie-accept-btn-style.selected, 
.detailed .cookie-accept-btn-style:hover {
    background: #dcdcde;
}
.cookie-accept-btn-style label{
    /*min-width: 100px;*/
    padding: 0.5rem 0.8rem;
}
.cookie-accept-btn-style label>span{
    display: block;
    margin-top: 0.5rem;
    text-align: center;
}
.cookie-accept-btn-style label>span::before{
    content: 'Accept Cookies';
    background-color: #2271b1;
    color: #ffffff;
    padding: 5px 16px;
    display: inline-block;
}
.cookie-accept-btn-style label>span.rounded::before{
    border-radius: 15px;
}
.cookie-accept-btn-style label>span.boxround::before{
    border-radius: 4px;
}
.cookie-accept-btn-style label>span.plain::before{
    background-color: transparent;
    color: #2271b1;
    text-decoration: underline;
}
.cookie-accept-btn-style label>span:hover::before{
    opacity: 0.8;
}

@media (min-width: 816px) {
    .cookie-accept-icon-list{
        padding-right: 200px;
    }
}
.cookie-accept-icon-list{
    display: none;
}
#cookie-accept-options-form.icon .cookie-accept-icon-list{
    display: block;
}
.cookie-accept-icon{
    display: inline-block;
    min-width: 50px;
    margin-bottom: 6px;
    transition: background-color 200ms;
    background-color: transparent;
}
.cookie-accept-icon.selected, .cookie-accept-icon:hover {
    background-color: #dcdcde;
}
.cookie-accept-icon.selected {
    color: #2271b1;
}
.cookie-accept-icon label{
    width: min-content;
    position: relative;
    padding: 0.5rem;
}
.cookie-accept-icon label svg{
    fill: currentColor;
    width: auto;
    height: 3rem;
    display: inline-block;
    transition: color 200ms;
}
.cookie-accept-icon.duo label svg{
    // width: 4rem;
}
.cookie-accept-icon label>input{
    position: absolute;
    opacity: 0;
}


#tab-body-colors td .inline-color{
    display: none;
}
#tab-body-colors td.dark .inline-color.mode-dark,
#tab-body-colors td.light .inline-color.mode-light{
    display: inline-block;
}
td#privacy-policy-settings fieldset.sub{
    display: none;
}
td#privacy-policy-settings.on fieldset.sub{
    display: block;
}
td#privacy-policy-settings.on fieldset.sub.warn{
    display: none;
}
.num_value_px{
    font-style: italic;
    display: block;
    color: #646970;
}
.num_value_px::before{
    content: 'Last saved as ';
}
.detailed .num_value_px::before{
    content: 'Currently is ';
}
.detailed .num_value_px.minimum::before{
    content: 'Minimum is ';
}
.num_value_px::after{
    content: ' pixels.';
}
.num_value_px.singular::after{
    content: ' pixel.';
}

/* ========================== */

.cookie-consent-notice {
    width: 100%;
    position: fixed;
    background-color: #fff;
    color: #444;
    box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.2);
    bottom: 0;
    left: 0;
    z-index: 10000;
    opacity: 1;
    box-sizing: border-box;
    /*transition: left 0.5s, right 0.5s, bottom 0.5s, background-color 0.5s, color 0.5s;*/
    padding: 24px 20px;
    display: none;
    /*font-size: 16px;*/
    line-height: 1.6;
}
.cookie-consent-notice.dark {
    background-color: #121314;
    color: #eeeeee;
    box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.2);
}
.cookie-consent-notice a {
    color: #444444;
}
.cookie-consent-notice a:hover,
.cookie-consent-notice a:focus {
    text-decoration: none;
}
.cookie-consent-notice.dark a {
    color: #eeeeee;
}
.cookie-consent-notice #consent-icon {
    display: none;
}
.cookie-consent-notice #consent-icon.on {
    display: block;
}
.cookie-consent-notice svg {
    fill: currentColor;
    margin-bottom: 0.5em;
}
.cookie-consent-notice.left svg {
    margin-left: -0.25em;
}
.cookie-consent-notice.right svg {
    margin-right: -0.25em;
}
.cookie-consent-notice.preview {
    display: block;
}
.cookie-consent-notice.accepted {
    bottom: 100%;
    opacity: 0;
    transition: opacity 1s, bottom 4s linear;
}
.cookie-consent-notice .consent-container {
    display: grid;
    grid-template-columns: auto;
    width: 100%;
    margin: 0 auto;
    /*text-align: left;*/
    grid-gap: 0.5em 1.5em;
    /*overflow-x: hidden;*/
}
.cookie-consent-notice.right {
    text-align: right;
}
.cookie-consent-notice.center {
    text-align: center;
}
.cookie-consent-notice.left {
    text-align: left;
}
.cookie-consent-notice .consent-container p {
    margin: 0;
    font-size: 1em;
    line-height: 1.6;
}
.cookie-consent-notice .consent-container a {
    transition: all 0ms;
}
.cookie-consent-notice .consent-container button {
    background-color: #00b358;
    justify-self: center;
    color: #fff;
    border: none;
    width: auto;
    padding: 12px 24px;
    margin: 8px 0;
    cursor: pointer;
    opacity: 1;
}
.cookie-consent-notice .consent-container button.rounded {
    border-radius: 40px;
}
.cookie-consent-notice.left .consent-container button.rounded {
    margin-left: -3px;
}
.cookie-consent-notice.right .consent-container button.rounded {
    margin-right: -3px;
}
.cookie-consent-notice .consent-container button.boxround {
    border-radius: 4px;
}
.cookie-consent-notice .consent-container button.plain {
    background-color: transparent;
    color: #444;
    text-decoration: underline;
}
.cookie-consent-notice.dark .consent-container button.plain {
    color: #ffffff;
}
.cookie-consent-notice .consent-container button:focus,
.cookie-consent-notice .consent-container button:hover {
    opacity: 0.8;
    text-decoration: none;
}
.cookie-consent-notice .consent-container button:focus {
    outline: none;
	box-shadow: 0 0 2px 3px #fff, 0 0 4px 4px #00b358;
}
.cookie-consent-notice.dark .consent-container button:focus {
    box-shadow: 0 0 2px 3px #121314, 0 0 4px 4px #00b358;
}
#privacy-policy-link-container {
    display: none;
}
#privacy-policy-link-container.on {
    display: inline-block;
}
#privacy-policy-link-container.on.hide {
    margin-left: 0;
}

/* ============= */
.mobile-message::before{
    content: '(This setting does not affect on mobile)';
    font-style: italic;
}
@media (min-width: 816px) {
    .cookie-consent-notice.down-left {
        width: 405px;
        left: 3rem;
        bottom: 3rem;
        box-shadow: 0 -1px 50px rgba(0, 0, 0, 0.2);
    	border-radius: 8px;
    }
    .cookie-consent-notice.down-left.accepted {
        left: 100%;
        transition: opacity 2s, left 5s linear;
    }
    .cookie-consent-notice.down-right {
        width: 405px;
        right: 3rem;
        left: auto;
        bottom: 3rem;
        box-shadow: 0 1px 50px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
    }
    .cookie-consent-notice.down-right.accepted {
        right: 100%;
        transition: opacity 2s, right 5s linear;
    }
    .cookie-consent-notice.fullwidth {
        left: 0px;
        right: 0px;
        bottom: 0%;
        width: auto;
        box-shadow: 0 -3px 50px rgba(0, 0, 0, 0.2);
        
    }
    .cookie-consent-notice.fullwidth {
        gap: 2rem;        
    }
    .cookie-consent-notice.preview.fullwidth {
        display: flex;     
    }
    .cookie-consent-notice.fullwidth.right {
        flex-direction: row-reverse;
    }
    .cookie-consent-notice.fullwidth svg {
        margin-bottom: 0;
        margin-left: 0;
    }
    .cookie-consent-notice.fullwidth.accepted {
        bottom: 100%;
        transition: opacity 1s, bottom 5s linear;
    }
    .cookie-consent-notice.fullwidth .consent-container{
        grid-template-columns: auto auto;
        align-items: center;
    }

    /* ========== */
    .mobile-message{
        display: none;
    }
}
